<div class="box">
  <div class="container">
    <img src="../../../assets/av-logo.svg" alt="logo" />
    <div class="text-display">
      <p>Register using email and password</p>
    </div>
    <form name="myForm">
      <div class="input-element">
        <input
          class="ng-valid ng ng-untouched"
          type="text"
          name="name"
          id="name"
          placeholder="User name"
          [(ngModel)]="enteredUserName"
        />
      </div>
      <div class="input-element">
        <input
          class="ng-valid ng ng-untouched"
          type="email"
          required
          name="email"
          id="email"
          ngModel="email"
          placeholder="Email"
          [(ngModel)]="enteredEmail"
        />
        <div
     class="alert alert-danger"> </div>
      </div>
      <div class="input-element">
        <input
          required
          minlength="4"
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          [(ngModel)]="enteredPassword"
        />
      </div>
      <div class="input-element">
        <input
          required
          minlength="4"
          type="password"
          name="confirm-password"
          id="confirm-password"
          placeholder="Confirm Password"
          [(ngModel)]="confirmedPassword"
        />
      </div>
    </form>
    <div class="input-element">
      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>
    </div>
    <div class="input-element">
      <button type="submit-signup" (click)="signUpHandler()">SIGN UP</button>
    </div>
    <div class="text-display">
      <h4>Aready have an account? <a href="/login">Login</a></h4>
    </div>
  </div>
</div>
