<div class="box">
  <div class="container">
    <img src="../../../assets/av-logo.svg" alt="logo" />
    <div class="text-display">
      <p>Please enter your email and password to login</p>
    </div>
    <form #login ="ngForm" >

      <div class="input-element">
        <input
          pattern=".+@gmail\.com"
          #email="ngModel"
          ngModel
          type="email"
          required
          name="email"
          id="email"
          placeholder="Email"
          [(ngModel)]="user.email"
        />
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          <!-- <p *ngIf="errorMessage">Wrong email or password</p> -->
          <p *ngIf="email.hasError('required')">Email address is required</p>
          <p *ngIf="email.hasError('pattern')">Not a valid email address</p>
        </div>
      </div>
      <div class="input-element">
        <input
          #password="ngModel"
          ngModel
          minlength="3"
          type="password"
          name="password"
          required
          id="password"
          placeholder="Password"
          [(ngModel)]="user.password"
        />
        <div
            class="alert alert-danger"
            *ngIf="password.touched && password.invalid"
          >
            <p *ngIf="password.hasError('required')">Password is required</p>
            <p *ngIf="password.hasError('minlength')">Password is too short</p>
          </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage">
        <p>
          {{ errorMessage }}. <a class="link" routerLink="/signup"></a>
        </p>
      </div>

      <div class="input-element">
        <a (click)="onLogin()">
          <button type="submit">LOGIN</button>
        </a>
      </div>
    </form>
    <div class="text-display">
      <h4>Forgot Password?</h4>
    </div>
  </div>
</div>
