<div class="container">
  <nav>
    <span>
      <img
        src="../../../assets/av-logo.svg"
        alt="logo
      "
      />
    </span>
    <ul>
      <li>
        <a href="">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="">
          <mat-icon>assignment</mat-icon>
          <span>Tasks</span>
        </a>
      </li>
      <li>
        <a href="">
          <mat-icon>description</mat-icon>
          <span>Records</span>
        </a>
      </li>
      <li>
        <a href="">
          <mat-icon>build</mat-icon>
          <span>Settings</span>
        </a>
      </li>
    </ul>
  </nav>
  <section class="main">
    <div class="header">
      <span class="identity">
        <mat-icon>perm_identity</mat-icon>
      </span>
    </div>
    <div class="main-container">
      <h2>Hello {{user?.email}}</h2>
    </div>
  </section>
</div>
